#UserArea{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "controls img";
    float: right;
    justify-items: center;
    align-items: center;
}

#UserArea img{
    height: 63px;
    grid-area: img;
}

#Login{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ".";
    display: grid;
    justify-items: end;
    float: right;
}

#UserInformation{
    grid-area: controls;
}

#UserInformation p{
    margin:0;
}

#LoginForm{
    margin-bottom: 20%;
    width: 60%;
    min-width: 200px;
    margin-bottom: 20%;
    margin-left: auto;
    margin-right: auto;
}

.LoginForm{
    z-index: 1;
    position: fixed;
    top: 0%;
    /* left: calc(50% - 125px); */
    left: 0px;
    bottom: unset;
    background-color: #fffffff5;
    width: 50%;
    height: 100%;
    padding: 0px;
    align-content: center;
}
#LoginFancyBorder{
    position: fixed;
    width: 50%;
    height: 100%;
    background-color: #e8f0fe9c;
    z-index: 1;
    right: 0;
    top: 0;
}
.noMargin{
margin:0;
}
.LoginForm h3{
    margin-top: 5px;
    text-align: center;
}

.LoginEmailInput{
    width: 100%;
} 

.LoginPasswordInput{
    width:100%
}

.LoginForm form button{
    margin-top: 17px;
    width: 100%;
}

.noOpacity{
    opacity:0;
    animation: fadeOut 0.5s ease-out;
}

.opacity{
    opacity:100;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}