#UserArea{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "controls img";
    float: right;
    justify-items: center;
    align-items: center;
}

#UserArea img{
    height: 63px;
    grid-area: img;
}

#Signup{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ".";
    display: grid;
    justify-items: end;
    float: right;
}

.noOpacity{
    opacity:0;
    animation: fadeOut 0.5s ease-out;
}

.opacity{
    opacity:100;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut{
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#UserInformation{
    grid-area: controls;
}

#UserInformation p{
    margin:0;
}

.SignupForm{
    z-index: 1;
    position: fixed;
    top: 0%;
    /* left: calc(50% - 125px); */
    left: 0px;
    bottom: unset;
    background-color: #fffffff5;
    width: 50%;
    height: 100%;
    padding: 0px;
    align-content: center;
}

.noMargin{
margin:0;
}
.SignupForm h3{
    margin-top: 5px;
    text-align: center;
}

.SignupEmailInput{
    width: 100%;
} 

.SignupForm form button{
    margin-top: 17px;
    width: 100%;
}

.Navigation input{
    width:100% !important;
}