.PostBody {
  display: grid
  ;
      background-color: white;
      grid-template-columns: 175px 1fr;
      grid-template-rows: 30px 1fr;
      gap: 0px 10px;
      grid-template-areas:
          "UserArea PostInfo"
          "UserArea PostArea";
      margin: 5px 10px 10px 10px;
      border: 3px solid;
      border-top-color: rgb(204, 188, 155);
      border-right-color: rgb(191, 176, 145);
      border-left-color: rgb(204, 188, 155);
      border-bottom-color: rgb(178, 164, 135);
  }
.PostUserArea{
  padding-top:10px
}
.UserArea {
    text-align:center;
    grid-area: UserArea;
    border-right: 1px grey groove;
    background-color: #dddddd;
    min-height: 16lh;
    position:relative;
    border-radius: 9px 0px 0px 9px;
  }
.PostArea {
  background-color: #ffffffeb;
  /* padding-left: 10px; */
  grid-area: PostArea;
  /* border-bottom: 1px grey groove; */
  padding: 12px;
    border-top: 1px solid grey;
  padding: 12px;
}
.Avatar{
  height:150px;
}

.PostInfo{
  padding-top: 7px;
  padding-left: 5px;
  color: #4b4b4b;
}