#UserArea{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: "controls img";
    float: right;
    justify-items: center;
    align-items: center;
}

#UserArea img{
    height: 63px;
    grid-area: img;
}

#UserInformation{
    grid-area: controls;
}

#UserInformation p{
    margin:0;
}
