.readImg{
    height:100px;
    grid-area: Image;
}

/* !!!!!! BODY WIDTH OVERRIDE !!!!! */


.topicLine{
    display: grid;
    grid-template-rows: 2em 4em;
    margin: 1em 1em 1em 0em;
    padding-bottom: 1em;
    gap: 0px 0px;
    grid-template-areas:
        "Image Subject Subject"
        "Image Bottom Bottom";
    justify-content: start;
    border-bottom: 3px groove rgba(0, 0, 0, 0.63);
}

.topicLineSubject{
    grid-area: Subject;
}

.topicLineBottom{
    grid-area: Bottom;
    overflow:hidden;
}

.TopicList{
    border: 2px groove rgba(0,0,0,0.65);
    background-color:white
}

#TopicHeader{
    display: grid
    ;
        grid-template-columns: 175px 1fr;
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "User Post"
            "details details"
            ". ."
            "TopicUserControls TopicUserControls";
        /* padding: 20px; */
        margin: 10px;
        /* border-bottom: 6px solid #b394c8 !important; */
        margin-bottom: 10px;
        /* min-height: 301px; */
        min-height: 294px;
        background-color:white;
        align-items: start;
}
.TopicUserControls{
    grid-area: TopicUserControls;
    padding: 10px;
    background-color: #b2a487;
    border-top: black 1px solid;

}

.TopicHeader h3{
    margin-top: 0px;
    margin-bottom: 0px;

}


.TopicOwner{
    display: flex
;
    flex-direction: column;
    align-items: center;
    grid-area: User;
    /* border-bottom: 1px black solid; */
    background-color: rgb(221 221 221);
    padding-top: 10px;
    position: relative;
    border-radius: 7px 0px 0px 7px;
    /* height: 97%; */
    height: calc(100% - 10px);
}
.TopicMain{
    grid-area: Post;
    border-left: 1px black solid;
    padding-left: 10px;
    padding-top:10px;
    height: 90%;
}

.TopicMain .BigInput{
    width: calc(100% - 10px);
}

.TopicDetails{
    grid-area:details;
    /* border-bottom: 6px double #b394c8 !important; */
}

#TopicHeader > div.TopicMain > h3{
    margin-top:0px;
    border-bottom: 1px black solid;
}

#TopicHeader .littleArrowLeft{
    left: 156px;
    top: 1px;
}

.editForm{
    margin-top: 10px;
    padding-bottom: 3px;
}

#editPostForm{
    width: 100%;
    border-top: 1px double black;
    border-right: none;
    border-bottom: none;
}
#editPostSubjectForm{
    width: 100%;
    border-bottom: none;
    border-right: none;
    border-top: 1px double black;
    border-left: 1px double black;
}

/* Need to change this name */
.TopicHeader{
    margin-left: 13px;
    margin-top:5px;
}