.button{
    margin-right:5px;
    margin-left:5px;
}

.ConfirmDelete{
    display: inline-block;
    float: right;
    position: relative;
}

.ConfirmDelete button{
    margin-left: 3px;
    margin-right: 2px;
}