.button{
    /* margin-right:5px;
    margin-left:5px; */
    
}

.bigInputButton{
    margin-top:35px;
}

.ConfirmDelete{
    display: inline-block;
    float: right;
    position: relative;
    width: 100%;
}

.bigMarginTop{
    margin-top:35px;
}
.ConfirmDelete button{
    /* margin-left: 3px;
    margin-right: 2px; */
}