/* TODO: Add sitewide styles */
#OuterContainer{
    min-height: calc(100vh - 124px);
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-color: lightgrey;
    background-image: url("media/paper.jpg")
}

#InnerContainer{
    border: 5px solid #4c2b81;
    border-style: inset;
    max-width: 890px;
    margin-right: auto;
    background-color: #ffffffc7;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: auto;
    /* height: 100%; */
    min-height: calc(100vh - 125px);
}

.large{
    max-width: unset !important;
    width: calc(100vw - 17px) !important;
    padding: unset !important;
    border: none !important;
    background-color: unset !important;
    left: 0;
    position: absolute;
    min-height: calc(100vh - 105px) !important;
    background-color: white !important;
    border-top: 3px solid #b394c8 !important;
}

body{
    background-color: #E5D2AB
  }
  

body{
    
}