#newPostForm {
  display: grid
  ;
      grid-template-columns: 165px 1fr;
      grid-template-rows: 22px 1fr;
      gap: 0px 0px;
      background-color: #dddddd;
      grid-template-areas:
          "postAvatarPreview postProfilePicker"
          "postAvatarPreview postBodyArea";
      /* padding-right: 12px; */
      margin-top: 12px;
      padding: 12px;
      border: 1px black solid;
      border-radius: 31px;
      margin-left: 10px;
      margin-right: 10px;

  }
  h2{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
  }
  #postButton{
    margin-right: 7px;
    margin-bottom: 2px;
  }

  .postAvatarPreview { 
    grid-area: postAvatarPreview; 
    margin-left: auto;
    margin-right: auto;
  }

  .newButtons{
    margin-left:10px
  }

  .postAvatarPreview span{
    display: block;
    text-align: center;

  }
  .postProfilePicker { 
    grid-area: postProfilePicker; 
    display: flex;
    justify-content: space-between;
  }
  .postBodyArea {
      grid-area: postBodyArea; 
      background-color: #ffffffeb;
      /* padding-left: 10px; */
      /* border-bottom: 1px grey groove; */
      border: 3px solid #a6a4ff;
      border-radius: 25px;
      padding: 12px;
    }

  .postBodyArea textarea{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: none;
    border-left: none;
    border-top: none;
  }
  .postButton { grid-area: postButton}

  #newProfileForm{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 175px 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
        ". ."
        ". ."
        ". ."
        ". ."
        ". ."
        "button button"; 
    padding:10px;
    padding-top:15px;
}

.button{
  grid-area:button;
}

.NewPostButtons{
  padding:10px;
  margin: 10px;
  background-color: #b2a487;
}

.NewPostButtons > button{
  margin-left:5px;
  margin-right:5px;
}