.profile-dropdown {
  position: absolute;
}

body{
  background-color: #E5D2AB
}

.Logo{
  font-size: 100px;
  font-family: Trattatello;
  line-height: 62px;
  padding-top: 8px;
  border-bottom: solid black;
}

.NavButtons > ul > li{

}

.NavButton{

}

.NavList{
  
}